<li>
  <%= gravatar_for user, size: 52 %>
  <ol><%= link_to user.name, user %></ol>
  <ol>@<%= link_to user.username, user %></ol>
  <% if current_user.admin? && !current_user?(user) %>
   <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>