<%
  feed_item_content ||= nil
  is_reply ||= false
%>
<div id = "ajax<%= feed_item.id %>" >
<%= render "shared/feed_item_inner", :feed_item => feed_item,:feed_item_content => feed_item_content, :is_reply => is_reply %>
</div>
