<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content,:class=>"replysize", placeholder: "Compose new micropost..."%>
  </div>
  <%= f.submit "Post", class: "btn btn-medium btn-primary btn-custom alignright" %>
<% end %>

<script>
  $(document).ready(function () {
      $("#new_micropost").validate({ // initialize the plugin
          rules: {
              "micropost[content]": {
                  required: true,
                  maxlength: 140

              }
          }
      });
  });
</script>